-var title = 'Viva'
-
	var hero = 
		{
			title: 'реклама в інтернеті',
			url: 'images/web-adv-hero.png',
			alt: 'hero',
			text: [
				'Інтернет простір є одним із найбільш ефективних майданчиків для рекламодавців. Наразі сучасний бізнес не може успішно розвиватись без представлення в інтернеті та соціальних мережах, а діджитал маркетинг є одним із найпотужніших інструментів просування брендів!',
				'Практично кожен із нас щодня зіштовхується з рекламними матеріалами на своїх гаджетах, саме тому не втрачайте шанс та почніть пізнавати переваги інтернет реклами разом з нами.'
			]
		}
	var services = [
		 {
			title: 'digital marketing',
			text_top: 'Наша команда являється спеціалістами в Digital-маркетингу - просуванні брендів через взаємодію з користувачами у цифрових каналах, він допомагає:',
			text_bottom: 'Стратегія digital-маркетингу, зазвичай, входить у основну маркетингову стратегію компанії. Просування у цифрових каналах може бути як єдиним способом просування товарів та послуг бренду, так і одним із кількох. ',
			link: 'Замовте консультацію по діджитал маркетингу',
			url: '#',
			image: '../images/digital-marketing.png',
			alt: 'digital marketing',
			buttons: [
				'збільшити продажі',
				'залучити нових клієнтів або знизити витрати на їхнє залучення',
				'покращити репутацію компанії',
				'сформувати бренд та підвищити його впізнаваність',
				'утримати клієнтів та довести їх до повторної покупки',
				'створити деталізований портрет кожного сегмента цільової аудиторії',
			]
		},
		 {
			class: 'reverse',
			title: 'smm & тагретинг',
			text_top: 'SMM або Social Media Marketing – це використання соціальних мереж і їх інструментів з метою просування продукту, бренду, товару або послуги. Простими словами - це взаємодія з користувачами в Фейсбук/Інстаграм/ТікТок через публікацію матеріалів, побудова воронки продажів, прогрів аудиторії, робота з лояльністю підписників та інші опції:',
			text_bottom: 'Ну і звичайно, основна мета полягає в продажі продукту або певної послуги в різних сферах ніш. Наша команда більше 5 років успішно займається веденням проектів наших клієнтів в соціальних мережах. Якщо хочете почати просувати Ваш бізнес в соц. мережах – заповнюйте форму.',
			link: 'Замовте консультацію по діджитал маркетингу',
			url: '#',
			image: '../images/smm.png',
			alt: 'smm targeting',
			buttons: [
				'створення фото та відео контенту',
				'копірайтинг та формування спільноти бренду',
				'підвищення загальної впізнаваності',
				'залучення корисного трафіку цільового призначення',
				'розширення аудиторії підписників/клієнтів',
				'формування лояльності та зворотного зв’язку',
				'використання таргетованої реклами по цільовій аудиторії',
			]
		},
		 {
			class: 'wide',
			title: 'Реклама Google ads',
			text_top: 'Google AdWords – це сервіс, що дозволяє розміщувати контекстну рекламу в пошукових результатах Гугл або на сайтах-партнерах в його медійній мережі. ЕдВордс має безліч інструментів, що дозволяють створювати ефективні рекламні кампанії для просування товарів або послуг. Переваги контекстної реклами Гугл ЕдВордс:',
			text_bottom: 'Налаштування такої реклами є довгим і кропітким процесом, саме тому у нас працюють спеціалісти із вагомим стажем роботи для ефективного просування Вашого бізнесу. Заповнюйте заявку для аналізу Вашої ніші і її ефективності в Гугл АдВордс.',
			url: '#',
			image: '../images/google.png',
			alt: 'google ads',
			buttons: [
				'відображається виключно тим користувачам, яких цікавить певна тематика',
				'робота із ключовими словами по запитах користувачів',
				'завдяки детальному налаштуванню геотаргетингу пошукову рекламу можна налаштувати саме на необхідну вам аудиторію',
				'рекламу можна пристосувати практично під будь-який бюджет, і при цьому вона все одно буде ефективною',
			]
		},
		{
			class: 'reverse',
			title: 'Реклама в YouTube',
			text_top: 'Сервіс YouTube — найбільша платформа для перегляду та обміну відеороликами, саме тому на ній щодня проходить шалений трафік користувачів. Наша команда може допомогти інтегрувати Ваші рекламні ролики у відеоматеріали на Ютубі, а також ми можемо і допомогти відзняти креативний ролик для подальшого його просування і популяризації Вашого бізнесу.',
			text_bottom: 'Платформа ідеальна для бізнесу, який шукає ефективні способи презентації компанії, підвищення  впізнаваності бренду, а також залучення трафіку на продажі. Завдяки універсальності платформи реклама на Ютуб стане відмінним рішенням для просування різних товарів і послуг. ',
			link: 'Замовте безкоштовну консультацію Ютуб реклами у нас вже зараз',
			url: '#',
			image: '../images/youtube-ads.png',
			alt: 'youtube ads',
			buttons: [
			]
		},
		{
			title: 'Нативна реклама та блогери',
			text_top: 'Нативна або природна реклама - це поняття, яке використовується в маркетингу, для позначення контенту, який підноситься аудиторії ненав’язливо або в замаскованій формі. Основна особливість такої реклами полягає в тому, що повідомлення завжди адаптується під ту платформу, на якій воно розміщене. Це наступний рівень еволюції звичайної реклами, він був придуманий для того, щоб залучити і переконати в чомусь людей, яким набридла стандартна реклама на телебаченні, радіо, в пресі або в інтернеті.',
			text_bottom: 'Надзвичайно популярним інструментом нативної реклами являються блогери, які впродовж останніх років стають справжніми лідерами думок серед своїх підписників. Якщо Вас цікавить просування бернду нативною рекламою в ЗМІ або ж за допомогю блогерів – ми в цьому легко допоможемо, ',
			link: 'просто заповніть нашу форму для зв язку',
			url: '',
			image: '../images/influens-ads.png',
			alt: 'influence ads',
			buttons: [
			]
		},
		{
			class: ['reverse', 'seo'],
			title: 'SEO просування сайту',
			text_top: 'SEO - Search Engine Optimization або пошукова оптимізація - комплекс заходів, які з метою збільшення видимості сайту в пошукових системах за цільовими для бізнесу ключовими словами, що забезпечує природнє зростання трафіку і відвідуваності. СЕО має низку особливостей, які суттєво відрізняють його від інших видів реклами в інтернеті. ',
			text_bottom: 'Одна з основних відмінностей — орієнтація на отримання ефекту в довгостроковому періоді. Отримати відвідуваність та клієнтів тут і зараз за допомогою пошукового просування й оптимізації просто неможливо. Водночас це єдиний вид інтернет-реклами, який дозволяє отримувати так званий органічний трафік, тобто переходи відвідувачів із пошукової видачі, за які не потрібно платити. Звичайно, сама робота фахівців повинна оплачуватися, але саме за переходи платити не потрібно. Це й робить такий вид реклами особливо вигідним у середньо- і довгостроковій перспективі. Простий приклад: просування інтернет-магазину, яке здійснюється протягом чотирьох місяців, може повністю окупитися на п ятий, і далі зростає тільки чистий прибуток власника бізнесу, тоді як абонплата SEO-фахівцям залишається фіксованою або змінюється в незначному діапазоні. Консультація із такого виду просування та основні рекомендації.',
			url: '',
			image: '../images/seo.png',
			alt: 'seo',
			buttons: [
			]
		},
	]

doctype html
html(lang="en")
	include pug/sections/global/head
	body
		article
			include pug/sections/global/header
			include pug/sections/hero
			section.section.grid 
				.grid__wrapper 
					.container 
						.grid__inner 
							.grid__content.grid-content.lists.center
								.grid-content__item 
									h4.grid-content__title Нові клієнти
									.grid-content__text
										p Отримуйте нових клієнтів вже на цьому тижні разом з нами
								.grid-content__item 
									h4.grid-content__title Цільова аудиторія
									.grid-content__text
										p Реклама буде показуватись користувачам, які цікавляться Вашими товарами/послугами
								.grid-content__item 
									h4.grid-content__title Оплата за результат
									.grid-content__text
										p Оплачуйте тільки тоді, коли клієнт буде переходити на Ваш сайт або здійснюватиме дзвінок тощо
								.grid-content__item 
									h4.grid-content__title Гнучкість
									.grid-content__text
										p Ми реагуємо на ринок і швидко вносимо зміни в рекламні матеріали
								.grid-content__item 
									h4.grid-content__title Ціноутворення
									.grid-content__text
										p Реклама в інтернеті один із найдешевших способів для просування бізнесу
								.grid-content__item 
									h4.grid-content__title Аналітика
									.grid-content__text
										p Перевіряйте кількість переходів, замовлень, дзвінків та оцінюйте рентабельність реклами
			section.section.adv-services 
				.adv-services__wraper 
					.container 
						.adv-services__inner 
							each service in services
								.item
									.item__top(class= service.class style=`--bg-img: url("${service.image}")`)
										.item__text(class= service.class)
											h2.item__title= service.title
											p.text= service.text_top
										.item__wrapper
											.item__list.flex.wrap(class= service.class)
												each button in service.buttons
													.item__button.btn-no-disable
														p= button
										.item__image
											img(src=service.image, alt=service.alt)
									.item__bottom 
										p= service.text_bottom
			include pug/sections/rewiews
			include pug/sections/feedback
			include pug/sections/popups
			include pug/sections/global/footer
